h1 {
	font-size: 4em;
	text-align: center;
}

.value {
	font-size: 2em;
	text-align: center;
	margin: auto;
	margin-bottom: 1em;
	display: block;
	height: 3em;
}

#results-table {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 2em;
	border-collapse: collapse;
	width: 100%;
}

#results-table td, #results-table th {
	font-size: 1em;
    border: 1px solid #000000;
    padding: 3px 7px 2px 7px;
}

#results-table th {
    font-size: 1.1em;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #000000;
    color: #ffffff;
}

#backdrop {
	display:none;
	width: 100%;
	height: 100%;
	background-color: rgba(173, 173, 173, 0.2);
	position: absolute;
	left:0; 
	top:0;
	z-index: 1000000;
}